body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #222;
    font-size: 10pt;
    background: #fafafa;
    margin: 0;
    padding: 15px 20px;
}

#container {
    position: relative;
}

fieldset {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    min-width: 0;
}

legend {
    padding: 0 5px;
    color: #777;
    font-size: 11pt;
    font-weight: bold;
}

label {
    color: #777;
    font-weight: bold;
}

#connectionStatus {
    font-weight: bold;
}

#content {
    padding: 10px;
    margin-left: 200px;
    min-width: 600px
}

#serverUrl {
    width: 500px;
    padding: 3px 5px;
    border: 1px solid #999;
    border-radius: 3px;
}

button {
    padding: 3px 10px;
    border: 1px solid #999;
    border-radius: 3px;
    background: #f0f0f0;
    cursor: pointer;
}

button:hover {
    background: #e4e4e4;
}

button:disabled {
    cursor: default;
    opacity: 0.5;
}

#disconnectButton {
    display: none;
}

#requestArea textarea {
    min-width: 300px;
    height: 2em;
    padding: 0 3px;
    /*line-height: 150%;*/
}

#messages {
    height: 300px;
    margin: 5px 0;
    padding: 0 5px;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fcfcfc;
    line-height: 150%;
}

#messages pre {
    width: 100%;
    color: #000;
    margin: 0;
}

#messages pre.sent {
    color: #f63;
}

#sidebar {
    padding: 0;
    padding-right: 10px;
    margin: 0;
    font-size: 11px;
    width: 200px;
    position: absolute;
    left: 0;
    border-right: solid 1px #e9eced;
    height: calc(100vh - 55px);
}

#history {
    width: 175px;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#history a {
    width: 165px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    padding: 2px 0;
    color: #333;
    text-decoration: none;
}

#history a:hover {
    color: #06c;
    text-decoration: underline;
}

#history li{
    position: relative;
}

.removeHistory
{
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}